<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giovanniterlingen.windesheim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.LaunchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ScheduleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ChooseTypeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.HiddenLessonsActivity"
            android:label="@string/hidden_schedule_label"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AuthenticationActivity"
            android:label="@string/login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ContentsActivity"
            android:label="@string/courses"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.DownloadsActivity"
            android:label="@string/downloads"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <service
            android:name=".NotificationService"
            android:enabled="true" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.giovanniterlingen.windesheim.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
